############################
# "### xxx ###" = Section  #
# "## xx ##" = Sub-Section #
# "# x" = Item             #
############################

### Ignore everything ###
*

### Exceptions ###
!.gitignore

## Config ##
!.config/

# VSCode
!.config/Code/

!.config/Code/User/
!.config/Code/User/settings.json

# Foot
!.config/foot/
!.config/foot/foot.ini

# GTK 3.0
!.config/gtk3.0/
!.config/gtk3.0/bookmarks
!.config/gtk3.0/settings.ini

# Hyprland
!.config/hypr/source/
!.config/hypr/source/autoexec.conf
!.config/hypr/source/binds.conf
!.config/hypr/source/envs.conf
!.config/hypr/source/games.conf
!.config/hypr/source/input.conf
!.config/hypr/source/style.conf
!.config/hypr/source/windowrules.conf

!.config/hypr/
!.config/hypr/hyprland.conf
!.config/hypr/hyprlock.conf
!.config/hypr/hyprpaper.conf

# Kitty
!.config/kitty/
!.config/kitty/kitty.conf
!.config/kitty/palette.conf

# Neofetch
!.config/neofetch/
!.config/neofetch/config.conf

# Rofi
!.config/rofi/
!.config/rofi/config.rasi
!.config/rofi/theme.rasi

# SwayNC
!.config/swaync/
!.config/swaync/config.json
!.config/swaync/style.css

# Vencord
!.config/Vencord/

!.config/Vencord/settings/
!.config/Vencord/settings/quickCss.css
!.config/Vencord/settings/settings.json

!.config/Vencord/themes/
!.config/Vencord/themes/theme.css

# Vesktop
!.config/vesktop/

!.config/vesktop/settings/
!.config/vesktop/settings/quickCss.css
!.config/vesktop/settings/settings.json

!.config/vesktop/themes/
!.config/vesktop/themes/theme.css

# VLC
!.config/vlc/
!.config/vlc/vlcrc

# Waybar
!.config/waybar/
!.config/waybar/config.jsonc
!.config/waybar/mediaplayer.py
!.config/waybar/palette.css
!.config/waybar/power_menu.xml
!.config/waybar/style.css

# Zed
!.config/zed/
!.config/zed/settings.json

## Github ##
!.github/

!.github/examples/

!.github/examples/catppuccin-mocha-lavender/
!.github/examples/catppuccin-mocha-lavender/catppuccin-mocha-lavender-1.png
!.github/examples/catppuccin-mocha-lavender/catppuccin-mocha-lavender-2.png
!.github/examples/catppuccin-mocha-lavender/catppuccin-mocha-lavender-3.png
!.github/examples/catppuccin-mocha-lavender/catppuccin-mocha-lavender-4.png


!.github/examples/gruvbox-dark/
!.github/examples/gruvbox-dark/gruvbox-dark-1.png
!.github/examples/gruvbox-dark/gruvbox-dark-2.png
!.github/examples/gruvbox-dark/gruvbox-dark-3.png
!.github/examples/gruvbox-dark/gruvbox-dark-4.png

!.github/README.md

## Sources ##
!sources/

# Bash
!sources/bash/

!sources/bash/catppuccin-mocha-lavender/
!sources/bash/catppuccin-mocha-lavender/.bashrc

!sources/bash/gruvbox-dark/
!sources/bash/gruvbox-dark/.bashrc

!sources/bash/minimalistic/
!sources/bash/minimalistic/.bashrc

# Foot
!sources/foot/

!sources/foot/catppuccin-mocha-lavender/
!sources/foot/catppuccin-mocha-lavender/foot.ini

!sources/foot/gruvbox-dark/
!sources/foot/gruvbox-dark/foot.ini

!sources/foot/minimalistic/
!sources/foot/minimalistic/foot.ini

# GTK
!sources/gtk/

!sources/gtk/catppuccin-mocha-lavender/
!sources/gtk/catppuccin-mocha-lavender/settings.ini

!sources/gtk/gruvbox-dark/
!sources/gtk/gruvbox-dark/settings.ini

!sources/gtk/minimalistic/
!sources/gtk/minimalistic/settings.ini

# Hyprland
!sources/hyprland/

!sources/hyprland/catppuccin-mocha-lavender/
!sources/hyprland/catppuccin-mocha-lavender/hyprlock.conf
!sources/hyprland/catppuccin-mocha-lavender/hyprpaper.conf
!sources/hyprland/catppuccin-mocha-lavender/style.conf

!sources/hyprland/gruvbox-dark/
!sources/hyprland/gruvbox-dark/hyprlock.conf
!sources/hyprland/gruvbox-dark/hyprpaper.conf
!sources/hyprland/gruvbox-dark/style.conf

!sources/hyprland/minimalistic/
!sources/hyprland/minimalistic/hyprlock.conf
!sources/hyprland/minimalistic/hyprpaper.conf
!sources/hyprland/minimalistic/style.conf

# Kitty
!sources/kitty/

!sources/kitty/catppuccin-mocha-lavender/
!sources/kitty/catppuccin-mocha-lavender/kitty.conf
!sources/kitty/catppuccin-mocha-lavender/palette.conf

!sources/kitty/gruvbox-dark/
!sources/kitty/gruvbox-dark/kitty.conf
!sources/kitty/gruvbox-dark/palette.conf

!sources/kitty/minimalistic/
!sources/kitty/minimalistic/kitty.conf
!sources/kitty/minimalistic/palette.conf

# Neofetch
!sources/neofetch/

!sources/neofetch/catppuccin-mocha-lavender/
!sources/neofetch/catppuccin-mocha-lavender/neofetch.png
!sources/neofetch/catppuccin-mocha-lavender/config.conf

!sources/neofetch/gruvbox-dark/
!sources/neofetch/gruvbox-dark/neofetch.png
!sources/neofetch/gruvbox-dark/config.conf

!sources/neofetch/minimalistic/
!sources/neofetch/minimalistic/neofetch.png
!sources/neofetch/minimalistic/config.conf

# Rofi
!sources/rofi/

!sources/rofi/catppuccin-mocha-lavender/
!sources/rofi/catppuccin-mocha-lavender/config.rasi
!sources/rofi/catppuccin-mocha-lavender/theme.rasi

!sources/rofi/gruvbox-dark/
!sources/rofi/gruvbox-dark/config.rasi
!sources/rofi/gruvbox-dark/theme.rasi

!sources/rofi/minimalistic/
!sources/rofi/minimalistic/config.rasi
!sources/rofi/minimalistic/theme.rasi

# SwayNC
!sources/swaync/

!sources/swaync/catppuccin-mocha-lavender/
!sources/swaync/catppuccin-mocha-lavender/style.css

!sources/swaync/gruvbox-dark/
!sources/swaync/gruvbox-dark/style.css

!sources/swaync/minimalistic/
!sources/swaync/minimalistic/style.css

# Vencord
!sources/vencord/

!sources/vencord/catppuccin-mocha-lavender/
!sources/vencord/catppuccin-mocha-lavender/themes/
!sources/vencord/catppuccin-mocha-lavender/themes/theme.css

!sources/vencord/gruvbox-dark/
!sources/vencord/gruvbox-dark/themes/
!sources/vencord/gruvbox-dark/themes/theme.css

!sources/vencord/minimalistic/
!sources/vencord/minimalistic/themes/
!sources/vencord/minimalistic/themes/theme.css

# Vesktop
!sources/vesktop/

!sources/vesktop/catppuccin-mocha-lavender/
!sources/vesktop/catppuccin-mocha-lavender/themes/
!sources/vesktop/catppuccin-mocha-lavender/themes/theme.css

!sources/vesktop/gruvbox-dark/
!sources/vesktop/gruvbox-dark/themes/
!sources/vesktop/gruvbox-dark/themes/theme.css

!sources/vesktop/minimalistic/
!sources/vesktop/minimalistic/themes/
!sources/vesktop/minimalistic/themes/theme.css

# Wallpaper
!sources/wallpaper/
!sources/wallpaper/catppuccin-mocha-lavender.png
!sources/wallpaper/gruvbox-dark.png
!sources/wallpaper/minimalistic.png

# Waybar
!sources/waybar/

!sources/waybar/catppuccin-mocha-lavender/
!sources/waybar/catppuccin-mocha-lavender/config.jsonc
!sources/waybar/catppuccin-mocha-lavender/palette.css
!sources/waybar/catppuccin-mocha-lavender/style.css

!sources/waybar/gruvbox-dark/
!sources/waybar/gruvbox-dark/config.jsonc
!sources/waybar/gruvbox-dark/palette.css
!sources/waybar/gruvbox-dark/style.css

!sources/waybar/minimalistic/
!sources/waybar/minimalistic/config.jsonc
!sources/waybar/minimalistic/palette.css
!sources/waybar/minimalistic/style.css

# ZSH
!sources/zsh/

!sources/zsh/catppuccin-mocha-lavender/
!sources/zsh/catppuccin-mocha-lavender/.zshrc

!sources/zsh/gruvbox-dark/
!sources/zsh/gruvbox-dark/.zshrc

!sources/zsh/minimalistic/
!sources/zsh/minimalistic/.zshrc

## bashrc ##
!.bashrc

## zshrc ##
!.zshrc

## Theme script ##
!theme.sh
